footer 
    .footer-flex
        .footer-info#info
            h3.main-title додаткова інформація
        .footer-card.footer-house
            p.footer-file Графік роботи <br> готелів.xls
                span Розмір файла: 10Mb
            p.footer-text Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити їх фото.
            a.footer-button(href="scheldue.csv")
                img(src="img/footer/cloud.png", alt="scheldue for trips in our hotel")
                | скачати
        .footer-card.footer-cafe
            p.footer-file Інформація про <br> харчування.xls
                span Розмір файла: 10Mb
            p.footer-text У будь-якому нашому турі включені сніданки у вартість. Якщо ж бажаєте замовити додотково, то ознайомтесь з умовами.
            a.footer-button(href="scheldue.csv")
                img(src="img/footer/cloud.png", alt="our menu")
                | скачати
        
        .footer-card.myborder.footer-border#contact
            h2.question задати питання
            p.footer-text.question-text Скажіть доброго дня нашому консультанту,і ми з радістю відповімо на Ваші запитання
            a.question-phone(href="tel:+380505698511")
                img(src="img/footer/phone.png", alt="contact phone number")
                | +38 (050) 56 98 511
            p.question-name.question Анна Миколаївна
            p.question-text.mananger консультант
            img.question-img(src="img/footer/woman.webp", alt="our mananger")
    .island-palm
    .footer-copy
       p &copy;  2016 Cars.com All rights reserved.